<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">

  <Package
      Name="Win11 Extra Clock"
      Manufacturer="Float Web"
      Version="$(var.ProductVersion)"
      UpgradeCode="{47B46A15-4BB3-4303-8D2D-A410EC995E37}"
      Scope="perMachine">

    <ui:WixUI Id="WixUI_InstallDir" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of Win11 Extra Clock is already installed." />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLDIR" Name="Win11 Extra Clock" />
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ProgramMenuDir" Name="Win11 Extra Clock">
        <Component Id="StartMenuShortcut" Guid="{2B8C8A7B-9D40-4E52-9E30-6D7E1B2D7F21}">
          <Shortcut Id="StartMenuShortcut"
                    Name="Win11 Extra Clock"
                    Target="[INSTALLDIR]$(var.AppExeName)"
                    WorkingDirectory="INSTALLDIR" />
          <RemoveFolder Id="RemovePMDir" Directory="ProgramMenuDir" On="uninstall" />
          <RegistryKey Root="HKLM" Key="Software\Win11ExtraClock">
            <RegistryValue Name="pm" Type="integer" Value="1" KeyPath="yes" />
          </RegistryKey>
        </Component>
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="StartupFolder">
      <Component Id="StartupShortcut" Guid="{6C7B7D53-1D8E-4B2A-9A3D-0C8C5F3E8B27}">
        <Shortcut Id="StartupShortcut"
                  Name="Win11 Extra Clock"
                  Target="[INSTALLDIR]$(var.AppExeName)"
                  WorkingDirectory="INSTALLDIR" />
        <RegistryKey Root="HKCU" Key="Software\Win11ExtraClock">
          <RegistryValue Name="startup" Type="integer" Value="1" KeyPath="yes" />
        </RegistryKey>
        <RegistryKey Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\Run">
          <RegistryValue Name="Win11 Extra Clock"
                         Type="string"
                         Value="&quot;[INSTALLDIR]$(var.AppExeName)&quot;" />
        </RegistryKey>
      </Component>
    </StandardDirectory>

    <?ifdef AppIconPath?>
      <Icon Id="AppIcon" SourceFile="$(var.AppIconPath)" />
      <Property Id="ARPPRODUCTICON" Value="AppIcon" />
    <?endif?>

    <Feature Id="MainFeature" Title="Win11 Extra Clock" Level="1">
      <ComponentGroupRef Id="AppFiles" />
      <ComponentRef Id="StartMenuShortcut" />
      <ComponentRef Id="StartupShortcut" />
    </Feature>

  </Package>
</Wix>
