<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">

  <Package
      Name="Win11 Extra Clock"
      Manufacturer="Float Web"
      Version="$(var.ProductVersion)"
      UpgradeCode="{47B46A15-4BB3-4303-8D2D-A410EC995E37}"
      InstallerVersion="500"
      Scope="perMachine">

    <ui:WixUI Id="WixUI_InstallDir" />
    <WixVariable Id="WixUILicenseRtf" Value="installer\wix\license.rtf"/>

    <MajorUpgrade DowngradeErrorMessage="A newer version of Win11 Extra Clock is already installed." />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLDIR" Name="Win11 Extra Clock" />
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="AppShortcuts" Name="Win11 Extra Clock" />
    </StandardDirectory>

    <StandardDirectory Id="StartupFolder" />

    <DirectoryRef Id="AppShortcuts">
      <Component Id="StartMenuShortcut" Guid="*">
        <Shortcut Id="StartMenuShortcut"
                  Name="Win11 Extra Clock"
                  Target="[INSTALLDIR]Win11 Extra Clock.exe"
                  WorkingDirectory="INSTALLDIR"
                  Advertise="no" />
        <RemoveFolder Id="RemoveAppShortcuts" Directory="AppShortcuts" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\Win11ExtraClock" Name="sm" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <StandardDirectory Id="StartupFolder">
      <Component Id="StartupShortcut" Guid="*">
        <Shortcut Id="StartupShortcut"
                  Name="Win11 Extra Clock"
                  Target="[INSTALLDIR]Win11 Extra Clock.exe"
                  WorkingDirectory="INSTALLDIR"
                  Advertise="no" />
        <RegistryValue Root="HKCU" Key="Software\Win11ExtraClock" Name="su" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </StandardDirectory>

    <Feature Id="MainFeature" Title="Win11 Extra Clock" Level="1">
      <ComponentGroupRef Id="AppFiles" />
      <ComponentRef Id="StartMenuShortcut" />
      <ComponentRef Id="StartupShortcut" />
    </Feature>

  </Package>
</Wix>
